@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,600italic,400italic,300italic);

body {
    color: #000;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

p, h1, ul, li, table, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}

h1 + p, p + p {
    margin-top: 15px;
}

.sidemenu {
    font-weight: 400;
    background-color: #ddd;
    color: #777;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

.sidemenu .title {
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.sidemenu .submenu {
    background-color: #eee;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sidemenu .menuitem {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
}

.sidemenu .menuitem {
}

.sidemenu .active {
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
}

.sidemenu .inactive {
    cursor: pointer;
    color: #337ab7;
}

.sidemenu .inactive:hover {
    color: #fff;
    background-color: #000;
}

.sidemenu ul li.control {
    font-weight: 400;
}

.sidemenu ul li select {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    color: #000;
    background-color: #fff;
}

.main {
    margin-left: 220px;
}

.message {
    margin: 20px;
}
